%div.sidemenu
  %div.sidemenu__user #{current_user.name}
  %a{href: "#{new_group_path}"}= fa_icon("edit",class:"icon-edit")
  %a{href: "/users/#{current_user.id}/edit"}= fa_icon("cog",class:"icon-cog")

  %div.sidemenu__yohaku
    = render partial: "sidebargroup"

%div.wrapper1
  .chat
    .chat__wrapper2
      .chat__group #{@group.name}
      .chat__member<>
        Member：
        - @group.members.each do |member|
          =member.user.name
          #{"  "}

      %a.chat__edit{href: "#{edit_group_path(@group)}"} Edit

    %div.chat__wrapper
      = render partial: "chat", collection: @messages,as: :message



  .chat__send
    = form_for [@group, @message], html:{class:"new_message"} do |f|
      = f.text_field :body, class: 'form__message', placeholder: 'type a message'
      = f.label :image, class: 'form__mask__image' do
        = fa_icon("image 2x",class:"icon-image")
        = f.file_field :image, class: 'hidden'
      = f.button 'Send', class: 'form__submit'

